node_modules
.idea
build
coverage/
test-report.html
test-reports
.envrc
mock_server/.envrc
public/env
ui-debug.log
firebase/firebase-debug.log
firebase/.config/*
terraform/creds/keys.json
public/virtualbackground
.env
mock_server