.participant-list-container {
  overflow-y: initial;
  overflow-x: auto;
  grid-area: 2 / 1 / 3 / 3;
  z-index: 5;
  background: transparent;
  display: flex;
}

.participant-list-scroll-container {
  display: flex;
  justify-content: center;
}

.participant-list-transparent-background {
  background: transparent;
}

.participant-list-inner-scroll-container {
  width: auto;
  display: flex;
  padding: 1.5em;
}
