.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.swoosh-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.qdoc-logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  height: 40px
}
