@import "../../assets/sass/variables";

.home {
    display: flex;
    flex-direction: column;
}

.home__header {
    background-color: accent-palette(1000);
    width: 100%;
    padding: 5% 10%;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // width: 80%;
}

.header__welcome {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 5%;
    // @media only screen and (min-width: 576px) {right: 0 !important; } 
}

.header__logo__white {
    max-height: 132px;
}

.header__message {
    // flex: .4;
    align-items: center;
    // padding-left: 5%;
    // padding-right: 15%;
    @media only screen and (min-width: 768px) {max-width: 40%;}
}

.ant-col-pull-3 {
    @media only screen and (max-width: 768px) {right: 0%;}
}

.home__question {
    padding: 2%;
}

h3.question__message {
    color: accent-palette(P100);
}

h1.welcome__message {
    color: white;
    text-align: right;
}

div.QDoc__intro {
    color: white;
    font-size: 20px;
    text-align: left;
    font-weight: 100;
}

.consult-col {
    padding: 0 2%;
    width: fit-content;
    height: fit-content;
}



#tele-consult-button {
    color: white;
    background-color: accent-palette(1000);
    margin-left: auto;
    .consult-button-title {
        padding: 15px;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: left;

        .ant-card-meta-title {
            color: white;
        }
    }
    .ant-card-body {
        padding: 0 15px 15px;
    }

    .ant-avatar {
        border-radius: 0;
    }
    
    margin-bottom: 5%;
}

#in-clinic-button {
    color: white;
    background-color: accent-palette(P100);
    margin-right: auto;
    .consult-button-title {
        padding: 15px;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: left;

        .ant-card-meta-title {
            color: white;
        }
    }
    .ant-card-body {
        padding: 0 15px 15px;
    }

    .ant-avatar {
        border-radius: 0;
    }

    margin-bottom: 5%;
}

.consult-button-title {
    justify-content: center;
}

.custom {
    .ant-collapse-content-box {
      padding: 0;
     }
  }