.header {
  background-color: white;
}

.header-row {
  max-height: 64px;
}

.header-logo {
  max-height: 64px;
  padding: 0;
}

.header-account {
  text-align: end;
}

.header-avatar {
  margin-right: 5px;
}

.header-autocomplete {
  position: absolute;
  top: 15%;
}
