.message-list-scroll-outer-container {
  min-height: 0;
  flex: 1;
  position: relative;
}

.message-list-scroll-inner-container {
  height: 100%;
  overflow-y: auto;
  padding: 0 1.2em 0;
}

.message-list-container {
  overflow-y: auto;
  flex: 1;
  padding-bottom: 1em
}

.message-list-button {
  position: absolute;
  bottom: 14px;
  right: 2em;
  z-index: 100;
  padding: 0.5em 0.9em;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 4px 16px rgba(18, 28, 45, 0.2);
  transition: all 0.5s ease
}

.message-list-show-button {
  visibility: visible;
  opacity: 1;
  bottom: 24px;
}
